body {
	background-color: #ffffff;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
header {
	background-color: #fff;
	padding: 10px;
	margin: 2em;
}
.logo {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:	10px 0px 0px 10px;	
}
.slogan {
	display: block;
	padding: 0px 0px 0px 30px;
	font-family: palatino, georgia, serif;
	font-size: 10px;
}
.nav-ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
.nav-li {
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	
}
.nav-li a {
	display: block;
	padding: 10.5px;	
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15.5px;
	color: ffffff;	
}
.main-image {
	width: 100%;
	display: block;
	margin: 0px auto;
	vertical-align: middle;
	border: 1px solid #000000;
}
#columns {
	float: left;
	margin: 0 auto;
	height: 300px;
}
#three_column {
	float:left;
	margin-top: 10px;
	margin-right: 30px;
	height: 200px;
}
.student-services {
	background-color: #fdf6ec;
	border: 1px black solid;
	width: 26.7%;
}
.related-links {
	background-color: #fdf6ec;
	border: 1px black solid;	
	width: 26.7%;
}
.contact-us {
	background-color: #fdf6ec;
	border: 1px black solid;	
	width: 26.6%;
}
.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform:uppercase;
	border-bottom: 2px solid black;
	margin: 2em;
	display: inline-block
}
.studentservices a, .relatedlinks a, contactus a {
	text-decoration: none;
	font-family: 'Taviraj', serif;
	font-size: 15px;
	line-height: 1.5em;
}
p {
	font-family: 'Taviraj', serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}
footer {
	text-align: center;
	background-color: #CCC;
	clear: both;
	padding: 10px;
	margin: 10px;
}
