body {
	background-color: #ffffff;
}
#wrapper {
background-color: #ffe2b8;
width: 100%;
margin: 0 auto;
border: 1px black solid;
padding: 20px;
}
header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
	margin: 2em;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	margin: 2em;
}
.logo {
	width: 20%;
	display: block;
	padding:	10px 0px 0px 10px;	
}
.slogan {
	display: block;
	padding: 0px 0px 10px 41px;
	font-family: palatino, georgia, serif;
	font-size: 10px;
}
.nav-ul {
	list-style-type: none;
	margin: 2em;
	padding: 0;
	width: 100%;
}
.nav-li {
	display: inline-block;
	background-color: #E8c66a;
	border: 1px black solid;
	padding: 20px;
}
.nav-li a {
	display: block;
	padding: 10.5px;	
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15.5px;
	color: ffffff;	
}
.main-image {
	width: 100%;
	display: block;
	margin: 0px auto;
	vertical-align: middle;
	border: 1px solid #000000;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform:uppercase;
	border-bottom: 2px solid black;
	margin: 2em;
	display: inline-block
}
.studentservices a, .relatedlinks a, contactus a {
	text-decoration: none;
	font-family: 'Taviraj', serif;
	font-size: 15px;
	line-height: 1.5em;
}
p {
	font-family: 'Taviraj', serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}
footer {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
	margin: 2em;
}